/* add your CSS here */
.corgi-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  padding: 14px;
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.05);;
  /*text-align: left;*/
}

.corgi-info {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 85%
}

img {
  padding-bottom: 7px;
}

span {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 2px;
}

.interesting-fact {
  font-style: italic;
}
